<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
<div class="content-main">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="addStyle" style="height: 800px">
        <div style="margin: 20px">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="gallery_title">
                <h3>加入店家</h3>
                <h4>Proin gravida nibhISI</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 contact_left">
              <form class="form-horizontal" method="post" action="#">
                <div class="form-group">
                  <input type="text" class="form-control" id="name" name="name" placeholder="店家名稱..." value="">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" id="email" name="email" placeholder="店家地址..." value="">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="subject" name="subject" placeholder="店家電話..." value="">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="subject" name="subject" placeholder="店家EMAIL..." value="">
                </div>
                <div class="form-group">
                  <textarea class="form-control" rows="4" name="message" placeholder="店家介紹..."></textarea>
                </div>
                <div class="form-group">
                  <input id="submit" name="submit" type="submit" value="Send" class="btn view_more btn-submit">
                </div>
              </form>
            </div>
            <!-- .contact-left -->
            <div class="col-sm-12 col-md-6 contact_right">
              <div class="col-md-12 contact_title"> CONTACT</div>
              <div class="col-md-12 contact_sub_title"> LOREM IPSUM NEC SAGITTIS</div>
              <div class="col-md-12 contact_text">
                Accord is free Bootstrap theme by templatemo. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudi lorem quis
                bibendum auctor, nisi elit consequat ipsum nec sagittis semg nibh.
              </div>
              <div class="col-md-12 contact_info">
                <a href="mailto:info@company.com" class="contact-info-link">
                  <i class="fa fa-envelope contact-fa"></i>info@company.com
                </a><br/>
                <a href="+1234567890" class="contact-info-link">
                  <i class="fa fa-mobile contact-fa"></i>(+123) 456 7890
                </a><br/>
                <a href="+0987654321" class="contact-info-link">
                  <i class="fa fa-phone contact-fa"></i>(+098) 765 4321
                </a><br/>
              </div>
              <div class="col-md-12">
                <span><i class="fa fa-rss social-icon rss_icon"></i></span>
                <span><i class="fa fa-twitter social-icon twitter_icon"></i></span>
                <span><i class="fa fa-facebook social-icon facebook_icon"></i></span>
              </div>
            </div>
            <!-- .contact_right -->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<script src="../../assets/js/jquery-1.11.3.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>