<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,400italic'>
  <link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../assets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
  <!--
Accord Template
http://www.templatemo.com/tm-478-accord
-->
  <title>Accord - Free Bootstrap Template</title>
</head>

<body>
  <div class="main-body">
    <div class="container">
      <div class="row">
        <div class="main-page">

          <app-navbar></app-navbar>

          <router-outlet></router-outlet>
        </div>
        <!-- .main-page -->
      </div>
      <!-- .row -->
      <footer class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer">
          <p class="copyright">Copyright © 2016 Company Name | Design: <a rel="nofollow" href="http://www.templatemo.com" target="_parent">template mo</a></p>
        </div>
      </footer>
      <!-- .row -->
    </div>
    <!-- .container -->
  </div>
  <!-- .main-body -->

  <!-- JavaScript -->
  <script src="../../assets/js/jquery-1.11.3.min.js"></script>
  <script src="../../assets/js/bootstrap.min.js"></script>

</body>

</html>